<section class="copy">
  <h3>
    You are reading the <em>New Living Translation</em> of the <em>Holy Bible</em> on the Darkweb.
  </h3>
  <p>
     The NLT is the first translation I ever read.
  </p>
  <p>
    <a href="https://www.patreon.com/whatdandoes" target="_blank">Click here to learn more</a>
  </p>
</section>
