<!DOCTYPE html>
<html>
  <head>
    <title><%= book.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <article>
        <h1><%= book.name %> <%= chapter + 1 %></h1>
      </article>
    </main>
  </body>
</html>
