body {
  padding: 1em;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.copy {
  text-align: center;
}

summary h1 {
  display: inline;
}

#chapters a {
  margin-left: .25em;
  margin-right: .25em;
}
